.cards-funcionamento {
    width: 100%;
    height: 20vh;
    margin-top: 5vh;

    .container {
        width: 70%;
        height: 100%;
        margin: auto;
        display: flex;

        .col-6-red {
            width: 50%;
            height: 90%;
            background: #F43127;
            border-radius: 10px;


            display: flex;

            .img {
                width: 30%;
                height: 90%;
                margin-top: 2.5%;
                border-right: 1px solid black;

                img {
                    width: 90px;
                    margin: auto;
                    margin-top: 13%;
                }
            }

            .text {
                h2 {
                    width: 90%;
                    height: 28px;
                    margin-left: 4vh;
                    margin-top: 3vh;

                    /* H2-25 */

                    font-family: 'Lilita One';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 28px;
                    /* identical to box height, or 110% */

                    text-transform: uppercase;

                    /* Texto */

                    color: rgba(29, 6, 5, 0.69);
                }

                h3 {
                    width: 321.96px;
                    height: 23px;
                    margin-left: 4vh;
                    margin-top: 1.5vh;
                    text-align: left;
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    /* identical to box height, or 140% */


                    color: rgba(255, 255, 255, 0.85);
                }
            }
        }

        .col-6 {
            width: 50%;
            height: 100%;
            border-radius: 10px;

            h2 {
                text-align: left;
                margin-left: 5vh;
                font-family: 'Lilita One';
                font-style: normal;
                font-weight: 400;
                font-size: 28.0202px;
                line-height: 28px;
                margin-top: 1vh;
                /* or 100% */

                text-transform: uppercase;

                /* $red */

                color: #F43127;
            }

            h3 {
                text-align: left;
                margin-left: 5vh;
                width: 370px;
                height: 26px;
                margin-top: 10%;

                /* T-18 */

                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height, or 140% */


                /* Texto */

                color: rgba(29, 6, 5, 0.69);
            }
        }
    }
}


@media (max-width: 1440px) {

    .cards-funcionamento {
        height: auto;

        .container {
            width: 80%;

            .col-6-red {
                width: 70%;

                .img {

                    margin: auto;

                    img {
                        width: 60px;
                        margin-top: 0vh;
                    }

                }

                .text {
                    width: 80%;
                    margin-bottom: 3vh;

                    h2 {
                        width: 100%;
                        margin-left: 5vh;
                        font-size: 18px;
                        text-align: left;
                        margin-top: 2vh;
                    }

                    h3 {
                        font-size: 14px;
                        line-height: 15px;
                        margin-left: 5vh;
                        margin-top: 1vh;

                    }
                }

            }

            .col-6 {
                width: 30%;

                h2 {
                    margin-left: 2vh;
                    margin-top: 3vh;
                    font-size: 20px;
                }

                h3 {
                    width: 80%;
                    margin-top: 3vh;
                    margin-left: 2vh;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .cards-funcionamento {
        height: auto;

        .container {
            width: 80%;
            height: auto;

            .col-6-red {
                width: 70%;

                .img {
                    width: 20%;
                    height: 80%;
                    margin: auto;

                    img {
                        margin-top: 0vh;
                    }

                }

                .text {
                    width: 80%;

                    h2 {
                        width: 80%;
                        font-size: 18px;
                        text-align: left;
                        margin-top: 2vh;
                    }

                    h3 {
                        width: 80%;
                        font-size: 14px;
                        line-height: 15px;
                        margin-left: 5vh;
                        margin-top: 0vh;
                    }
                }

            }

            .col-6 {
                width: 30%;

                h2 {
                    margin-left: 2vh;
                    margin-top: 5vh;
                    font-size: 20px;
                }

                h3 {
                    width: 80%;
                    margin-top: 2vh;
                    margin-left: 2vh;
                }
            }
        }
    }
}


@media (max-width: 768px) {

    .cards-funcionamento {


        .container {

            .col-6-red {

                .text {
                    margin-bottom: 3vh;

                    h2 {
                        margin-left: 2vh;
                        font-size: 16px;
                    }

                    h3 {
                        margin-left: 2vh;
                        margin-top: 1vh;
                    }
                }

            }
        }
    }
}

@media (max-width: 550px) {

    .cards-funcionamento {
        height: 50vh;
        margin-top: 5vh;

        .container {
            display: inline-block;
            width: 90%;

            .col-6-red {
                width: 100%;
                height: 40%;

                .img {
                    width: 20%;
                    margin: auto;

                    img {
                        margin-top: 1vh;
                    }

                }

                .text {
                    width: 80%;
                    margin-bottom: 2vh;

                    h2 {
                        margin-left: 2vh;
                        font-size: 18px;
                        width: 80%;
                        margin-top: 2vh
                    }

                    h3 {
                        font-size: 15px;
                        line-height: 15px;
                        margin-top: 2vh;
                        width: 80%;
                        margin-left: 2vh;
                    }
                }

            }

            .col-6 {
                width: 100%;

                h2 {
                    margin-left: 2vh;
                    margin-top: 4vh;
                }

                h3 {
                    width: 80%;
                    margin-left: 2vh;
                }
            }
        }
    }
}

@media (max-width: 420px) {

    .cards-funcionamento {

        .container {

            .col-6-red {

                .text {
                    margin-bottom: 4vh;

                    h2 {
                        margin-top: 2vh;
                        font-size: 16px;
                    }

                    h3 {
                        margin-top: 1vh;
                    }
                }
            }
        }
    }
}


@media (max-width: 375px) {

    .cards-funcionamento {

        .container {

            .col-6-red {

                .text {

                    h2 {
                        width: 90%;
                        margin-top: 3vh;
                    }

                    h3 {
                        margin-top: 1vh;
                    }
                }

            }
        }
    }
}


@media (max-width: 280px) {

    .cards-funcionamento {


        .container {

            .col-6-red {

                .text {

                    h2 {
                        width: 100%;
                        margin-left: .5vh;
                        font-size: 14px;
                    }

                    h3 {
                        margin-left: .5vh;
                        font-size: 12px;
                    }
                }

            }
        }
    }
}