
:root {

    --font: 'Lilita One';
    --secundary-font: 'Lato';
    --primary-font-color: rgba(29, 6, 5, 0.9);
    --secundary-font-color: rgba(12, 12, 12, 0.959);
}

#promocao {
    width: 100%;
    height: 50vh;
    margin-top: 15vh;

    .container-bx-cards {
        width: 70%;
        height: 50vh;
        margin-left: 15%;
  
        h2 {
            text-align: left;
            font-family: var(--font);
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 35px;
            text-transform: uppercase;
            color: var(--primary-font-color);
        }

        h3 {
            text-align: left;
            margin-top: 1vh;
            font-family: var(--secundary-font);
            color:rgba(14, 2, 2, 0.959);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
        }

        .box {
            width: 100%;
            height: 40vh;
            display: flex;

            .col-8 {
                width: 60%;
                height: 100%;
                img {
                    width: 100%;
                    height: 95%;
                    padding: 2%;
                    padding-left: 0%;
                }
            }

            .col-4 {
                width: 40%;
                height: 100%;
                display: inline-block;

                .row-cards {
                    width: 100%;
                    height: 50%;

                    img {
                        margin-top: 1vh;
                        width: 90%;
                        height: 90%;
                        padding: 1%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    
    #promocao {
        width: 100%;
        height: 50vh;
        margin-top: 20vh;

        .container-bx-cards {
            height: 30vh;
            .box {
                height: 30vh;

            }
        }
    }
}
@media (max-width: 768px) {
    
    #promocao {
       
        margin-top: 30vh;
    }
}

@media (max-width: 550px) {

    #promocao {
        height: 120vh;
        margin-top: 40vh;

        .container-bx-cards {
            width: 99%;
            height: 100%;
            margin: auto;

            h2 {
                width: 70%;
                font-size: 25px;
                margin-left: 3vh;
            }

            h3 {
                font-size: 15px;
                width: 70%;
                margin-left: 3vh;
            }

            .box {
                width: 100%;
                height: 100%;
                margin-top: 5vh;
                display: inline-block;

                .col-8 {
                    width: 90%;
                    height: 30vh;
                    margin: auto;

                    img {
                        border-radius: 15px;
                    }
                }

                .col-4 {
                    width: 90%;
                    height: 52vh;
                    margin-top: 0vh;
                    margin: auto;

                    .row-cards {
                        width: 100%;
                        height: 30vh;
                        margin-top: 0vh;

                        img {
                           width: 100%;
                           height:  95%;
                        }
                    }
                }
            }
        }
    }
}


