.publicacoes {
    width: 100%;
    height: 70vh;

    h2 {
        width: 100%;
        height: 36px;

        top: 3208.54px;

        /* H1-32 */

        font-family: 'Lilita One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 110% */

        text-align: center;
        text-transform: uppercase;

        /* Título */

        color: rgba(29, 6, 5, 0.9);

    }

    h3 {
        width: 90%;
        height: 23px;
        margin: auto;

        /* T-16 */

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 140% */

        text-align: center;

        /* Texto */

        color: rgba(29, 6, 5, 0.69);
    }

    .container {
        width: 100%;
        height: 30vh;
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;

        .box {
            width: 16.66%;
            height: 100%;
            left: 960px;
            top: 3287.54px;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .span {
        width: 100%;
        height: 5vh;
        left: 0px;
        margin-top: 0vh;

        /* $yellow */

        background: #F59A1B;
        mix-blend-mode: normal;

        h2 {
            width: 100%;
            height: 29px;
            top: 0;
            padding-top: .5%;

            font-family: 'Lilita One';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 28px;
            /* or 100% */

            text-align: center;
            text-transform: uppercase;

            /* Título */

            color: rgba(29, 6, 5, 0.9);


        }

    }

}

@media (max-width: 1440px) {

    .publicacoes {
        height: 110vh;

        h3 {}

        .container {
            width: 100%;
            height: auto;
            margin-top: 5vh;
            display: flex;
            flex-wrap: wrap;

            .box {
                width: 33.3%;
                height: 100%;
                margin: auto;

                img {
                    margin: auto;
                    width: 99%;
                    height: 95%;
                    border-radius: 15px;
                }
            }

        }

        .span {
            height: 10vh;

            h2 {}

        }

    }
}

@media (max-width: 1024px) {

    .publicacoes {

        h3 {
            margin-top: 5vh;
        }

        .span {
            height: 7vh;

            h2 {
                font-size: 12px;
            }

        }

    }
}

@media (max-width: 768px) {

    .publicacoes {


        h3 {
            margin-top: 2vh;
            font-size: 18px;
        }


        .container {
            margin-top: 10vh;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            background-color: transparent;
            height: 20vh;

            .box {
                width: 50%;
                height: 25vh;



                img {
                    width: 95%;
                    height: 95%;
                    border-radius: 15px;
                }
            }

        }

        .span {
            width: 0%;
            visibility: hidden;
        }

    }
}

@media (max-width: 550px) {

    .publicacoes {

        margin-top: 20vh;


        h3 {
            margin-top: 5vh;
        }

        .container {
            margin-top: 10vh;
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            background-color: transparent;
            height: 20vh;

            .box {
                width: 50%;
                height: 20vh;



                img {
                    width: 95%;
                    height: 95%;
                    border-radius: 15px;
                }
            }

        }

        .span {
            width: 0%;
            visibility: hidden;
        }

    }
}