

.maps {
    width: 100%;
    height: 35vh;
    margin-top: 20vh;


    h2 {
        width: 100%;
        height: 36px;
        left: 738.12px;
        top: 4445.52px;

        /* H1-32 */
        text-align: center;
        font-family: 'Lilita One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 110% */

        text-align: center;
        text-transform: uppercase;

        /* Título */

        color: rgba(29, 6, 5, 0.9);
    }
    h3 {
        width: 100%;
        height: 23px;
        left: 775px;
        top: 4485.52px;
        text-align: center;
        /* T-16 */

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 140% */

        text-align: center;

        /* Texto */

        color: rgba(29, 6, 5, 0.69);
    }

    .container {
        margin-top: 5vh;
        width: 100%;
        height: 30vh;
    }
}