.card-atendimento {

    width: 100%;
    height: 50vh;
    margin-top: 5vh;


    .container {
        width: 70%;
        height: 100%;
        margin: auto;
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(29, 6, 5, 0.15);



        .circular-bx {
            width: 50%;
            height: 80%;

            img {
                width: 100%;
                height: 100%;
                margin: auto;
                margin-top: 0vh;

            }

        }

        .box-text {
            width: 50%;
            height: 100%;


            h2 {
                width: 80%;
                height: auto;
                margin-left: 5vh;
                margin-top: 12vh;
                text-align: left;
                font-family: 'Lilita One';
                font-style: normal;
                font-weight: 400;
                font-size: 41.7228px;
                line-height: 46px;
                /* or 110% */

                text-transform: uppercase;

                /* Título */

                color: rgba(29, 6, 5, 0.9);

                span {
                    left: 966.92px;
                    top: 2314.74px;

                    /* $yellow */

                    background: #F59A1B;
                    border-radius: 8.27974px;
                }

            }

            h3 {
                width: 100%;
                height: auto;
                margin-left: 5vh;
                top: 2370.26px;
                text-align: left;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 20.8614px;
                line-height: 29px;
                margin-top: 1vh;
                /* or 140% */


                /* Texto */

                color: rgba(29, 6, 5, 0.69);
            }

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10.4307px 20.8614px;
                gap: 13.04px;

                width: 230.72px;
                height: 53.86px;
                margin-left: 5vh;
                margin-top: 2vh;
                border: none;

                /* $red */

                background: #F43127;
                border-radius: 5.21535px;

                a {
                    width: 189px;
                    height: auto;

                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: none;
                    line-height: 33px;
                    /* identical to box height, or 140% */

                    text-align: center;

                    color: #FFFFFF;


                    /* Inside auto layout */

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
            }
        }
    }
}


@media (max-width: 1440px) {

    .card-atendimento {
        margin-top: 20vh;

        .container {


            .circular-bx {}

            .box-text {

                h2 {


                    span {}

                }

                h3 {
                    width: 100%;

                }

                button {

                    a {}
                }
            }
        }
    }


}

// @media (max-width: 1024px) {

//     .card-atendimento {
//         height: auto;

//         .container {
//             width: 90%;
//             height: auto;
//             display: flex;
//             border: none;


//             .circular-bx {
//                 width: 50%;

//             }

//             .box-text {

//                 width: 50%;

//                 h2 {
//                     font-size: 30px;
//                 }

//                 h3 {
//                     width: 80%;
//                     font-size: 18px;
//                 }
//             }

//         }
//     }
// }

@media (max-width: 768px) {

    .card-atendimento {
        height: auto;

        .container {
            display: inline-block;
            width: 90%;
            border-bottom: none;

            .circular-bx {
                width: 100%;

                .box {}
            }

            .box-text {

                width: 100%;

                h2 {
                    width: 80%;
                    font-size: 38px;

                    span {
                        width: 100%;
                    }
                }

                h3 {
                    width: 80%;
                    font-size: 18px;
                }
            }
        }
    }
}



@media (max-width: 550px) {

    .card-atendimento {
        margin-top: 20vh;

        .container {
            display: inline-block;
            width: 80%;

            .circular-bx {
                width: 100%;
                margin: auto;



                img {}
            }

            .box-text {

                width: 100%;

                h2 {
                    font-size: 30px;
                    margin: auto;
                }

                h3 {
                    width: 80%;
                    font-size: 18px;
                    margin: auto;
                }

                button {
                    width: 80%;
                    margin-left: 4vh;

                    a {
                        width: 100%;
                        font-size: 15px;

                    }
                }
            }
        }
    }
}