
:root {
    --font: 'Lilita One';
    --secundary-font: 'Lato';
    --primary-span-color: #F59A1B;
    --primary-button-color: #F43127;
    --primary-font-color: var(--primary-font-color);
    --secundary-font-color: white;
}

.card-atendimento {

    width: 100%;
    height: 50vh;
    margin-top: 5vh;


    .container {
        width: 70%;
        height: 100%;
        margin: auto;
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(29, 6, 5, 0.15);

        .circular-bx {
            width: 50%;
            height: 80%;

            img {
                width: 100%;
                height: 100%;
                margin: auto;
                margin-top: 0vh;
            }
        }

        .box-text {
            width: 50%;
            height: 100%;

            h2 {
                width: 80%;
                height: auto;
                margin-left: 5vh;
                margin-top: 12vh;
                text-align: left;
                font-family: var(--font);
                font-style: normal;
                font-weight: 400;
                font-size: 41.7228px;
                line-height: 46px;
                text-transform: uppercase;
                color: var(--primary-font-color);

                span {
                    left: 966.92px;
                    top: 2314.74px;
                    background: var(--primary-span-color);
                    border-radius: 8.27974px;
                }
            }

            h3 {
                width: 100%;
                height: auto;
                margin-left: 5vh;
                top: 2370.26px;
                text-align: left;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 20.8614px;
                line-height: 29px;
                margin-top: 1vh;
                color: rgba(29, 6, 5, 0.69);
            }

            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10.4307px 20.8614px;
                gap: 13.04px;

                width: 230.72px;
                height: 53.86px;
                margin-left: 5vh;
                margin-top: 2vh;
                border: none;

                /* $red */

                background: var(--primary-button-color);
                border-radius: 5.21535px;

                a {
                    width: 189px;
                    height: auto;

                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: none;
                    line-height: 33px;
                    text-align: center;
                    color: #FFFFFF;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                }
            }
        }
    }
}


@media (max-width: 1440px) {

    .card-atendimento {
        margin-top: 20vh;

        .container {

            .box-text {

                h3 {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .card-atendimento {
        height: auto;

        .container {
            display: inline-block;
            width: 90%;
            border-bottom: none;

            .circular-bx {
                width: 100%;
            }

            .box-text {

                width: 100%;

                h2 {
                    width: 80%;
                    font-size: 38px;

                    span {
                        width: 100%;
                    }
                }

                h3 {
                    width: 80%;
                    font-size: 18px;
                }
            }
        }
    }
}



@media (max-width: 550px) {

    .card-atendimento {
        margin-top: 20vh;

        .container {
            display: inline-block;
            width: 80%;

            .circular-bx {
                width: 100%;
                margin: auto;
            }

            .box-text {

                width: 100%;

                h2 {
                    font-size: 30px;
                    margin: auto;
                }

                h3 {
                    width: 80%;
                    font-size: 18px;
                    margin: auto;
                }

                button {
                    width: 80%;
                    margin-left: 4vh;

                    a {
                        width: 100%;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}