

.card-pedidos {

    width: 100%;
    height: 20vh;
    

    .container {
        width: 70%;
        height: 130.04px;
        margin: auto;
        background: #F43127;
        border-radius: 10px;
        display: flex;

        .imagem {
            width: 8%;
            height: 80%;
            margin-top: 1%; margin-left: 2vh;
            background-color: rgba(29, 29, 27, 0.377);
            border-radius: 50%;

            img {
                width: 35%;
                margin-top: 20%;
            }
        }
        .text {
            width: 70%;
            height: 100%;

            h2 {
                width: 401px;
                height: 28px;
                margin-left: 10vh;
                top: 4280.71px;

                /* H2-25 */

                font-family: 'Lilita One';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 28px;
                /* identical to box height, or 110% */

                text-transform: uppercase;

                /* Texto */

                color: rgba(29, 6, 5, 0.69);
            }
            h3 {
                width: 466.27px;
                height: 45px;
                margin-left: 10vh;
                margin-top: -1vh;
                text-align: left;
                /* T-16 */

                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                /* or 140% */


                color: rgba(255, 255, 255, 0.9);

            }
        }
        button {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;
            gap: 10px;
            width: 196px;
            height: 42px;
            left: 1311.64px;
            margin-top: 3%;
            border: none;
            background: #FAE4D0;
            border-radius: 4px;

            a {
                width: 164px;
                height: 26px;

                font-family: 'Lato';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height, or 140% */
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;

                /* $red */

                color: #F43127;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;

            }
        }

    }
}