.card-pedidos {

    width: 100%;
    height: 20vh;


    .container {
        width: 60%;
        height: 140px;
        margin: auto;
        background: #F43127;
        border-radius: 10px;
        display: flex;

        .text {
            width: 70%;
            height: 100%;

            h2 {
                width: 401px;
                height: 28px;
                margin-left: 10vh;
                top: 4280.71px;

                /* H2-25 */

                font-family: 'Lilita One';
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                line-height: 28px;
                /* identical to box height, or 110% */

                text-transform: uppercase;

                /* Texto */

                color: rgba(29, 6, 5, 0.69);
            }

            h3 {
                width: 466.27px;
                height: 45px;
                margin-left: 10vh;
                margin-top: -1vh;
                text-align: left;
                /* T-16 */

                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                /* or 140% */


                color: rgba(255, 255, 255, 0.9);

            }
        }

        button {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 16px;
            gap: 10px;
            width: 196px;
            height: 42px;
            left: 1311.64px;
            margin-top: 4%;
            border: none;
            background: #FAE4D0;
            border-radius: 4px;

            a {
                width: 164px;
                height: 26px;

                font-family: 'Lato';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height, or 140% */
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;

                /* $red */

                color: #F43127;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;

            }
        }

    }
}


@media (max-width: 1024px) {


    .card-pedidos {
        margin-top: 25vh;

        .container {

            .imagem {

                width: 0%;
                visibility: hidden;


            }

            .text {


                h2 {
                    margin-left: 3vh;
                }

                h3 {
                    margin-left: 3vh;
                }
            }

            button {
                margin-top: 12vh;

                a {}
            }

        }
    }
}

@media (max-width: 768px) {


    .card-pedidos {

        .container {
            width: 90%;

            .imagem {
                width: 0%;
                visibility: hidden;


            }

            .text {
                width: 100%;
                height: 100%;
                margin-left: 0vh;

                h2 {
                    font-size: 22px;
                    text-align: left;
                    width: 80%;
                    margin-left: 2vh;
                }

                h3 {
                    width: 90%;
                    margin-left: 2vh;
                    font-size: 17px;
                    line-height: 18px;
                }
            }

            button {
                position: absolute;
                width: 35%;
                height: 3vh;
                margin-top: 9vh;
                margin-left: 8vh;
                left: 0;
                border-radius: 10px;

                a {
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                }
            }

        }
    }
}

@media (max-width: 550px) {


    .card-pedidos {



        .container {
            width: 90%;
            height: 100%;

            .imagem {
                width: 0%;
                visibility: hidden;


            }

            .text {
                width: 100%;
                height: 100%;
                margin-left: 0vh;

                h2 {
                    font-size: 22px;
                    text-align: left;
                    width: 80%;
                    margin-left: 2vh;
                }

                h3 {
                    width: 90%;
                    margin-left: 2vh;
                    font-size: 15px;
                    margin-top: 3vh;
                    line-height: 18px;
                }
            }

            button {
                position: absolute;
                width: 45%;
                height: 4vh;
                margin-top: 15vh;
                margin-left: 20vh;
                left: 0;
                border-radius: 10px;

                a {
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                }
            }

        }
    }
}