@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.clientes {

    width: 100%;
    height: 60vh;
    margin-top: 10vh;

    h2 {

        width: 470px;
        height: 36px;
        margin-left: 15vh;
        top: 2803.7px;

        /* H1-32 */

        font-family: 'Lilita One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 110% */

        text-transform: uppercase;

        /* Título */

        color: rgba(29, 6, 5, 0.9);

    }

    h3 {
        width: 470px;
        height: 23px;
        margin-left: 21vh;
        top: 2843.7px;

        /* T-16 */

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 140% */


        /* Texto */

        color: rgba(29, 6, 5, 0.69);
    }

    .container {
        width: 80%;
        height: 40vh;
        margin: auto;
        margin-top: 2%;

        .sc-bcXHqe {
            box-shadow: none;
            background-color: transparent;
            border: none;
        }
        .sc-bcXHqe:hover {
            background-color: rgba(228, 72, 44, 0.774);
            border: none;
        }

        .box {
            width: 95%;
            height: 30vh;
            margin-left: 0vh;
            top: 2882.7px;

            background: #FFFFFF;
            box-shadow: rgba(88, 88, 88, 0.11) 0px 3px 8px;
            border-radius: 10px;
            cursor: pointer;

            h2 {
                position: absolute;
                font-size: 85px;
                margin-top: 0vh;
                margin-left: 2vh;
                font-family: 'Catamaran';
            }

            .text {
                width: 100%;
                margin: auto;
                height: 50%;


                h3 {
                    width: 90%;
                    text-align: left;
                    margin: auto;
                    margin-top: 4vh;

                    /* T-16 */

                    font-family: 'Lato';
                    font-style: normal;
                    text-align: left;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    /* or 140% */


                    /* $title-black-60 */

                    color: #635352;
                }
            }

            .box-inferior {

                width: 100%;
                height: 30%;
                display: flex;

                .imagem {
                    width: 20%;
                    height: 100%;
                    margin-left: 2vh;


                    img {
                        width: 80%;
                        height: 70%;
                        margin: auto;
                        margin-top: 1vh;
                    }


                }

                .text-inf {
                    width: 70%;
                    height: 100%;

                    h4 {
                        /* H4-18 */

                        font-family: 'Lilita One';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 25px;
                        /* identical to box height, or 140% */

                        text-transform: uppercase;
                        text-align: left;
                        margin-top: 1vh;
                        /* Título */

                        color: rgba(29, 6, 5, 0.973);
                    }

                    h5 {


                        /* H4-18 */
                        font-family: 'Lato';
                        text-align: left;
                        margin-top: 1vh;
                        /* identical to box height, or 140% */

                        text-transform: uppercase;

                        /* Título */

                        color: rgba(29, 6, 5, 0.973);
                    }
                }


            }


        }
    }
}

@media (max-width: 1440px) {


    .clientes {

        h2 {
            margin-left: 8vh;
        }

        h3 {
            margin-left: 13vh;
        }

        .container {
          
            .box {
                height: 40vh;

            }
        }
    }

}

@media (max-width:1280px) and (max-height: 800px) {

    .clientes {

        h2 {
            margin-left: 10vh;
        }

        h3 {
            margin-left: 17vh;
        }

        .container {
           
        }
    }

}
@media (max-width:1024px) and (max-height: 600px) {

    .clientes {

        h2 {
            margin-left: 10vh;
        }

        h3 {
            margin-left: 20vh;
        }

        .container {
            width: 70%;
            .box {
                width: 100%;
                height: 55vh;
                

                .box-inferior {
                    margin-top: 6vh;
                }

            }
        }
    }

}

@media (max-width:1024px) {

    .clientes {

        h2 {
            margin-left: 15vh;
        }

        h3 {
            margin-left: 25vh;
        }

        .container {
            .box {
                height: 50vh;
                .text {
                    h3 {
                        font-size: 25px;
                        line-height: 40px;
                    }
                }
                .box-inferior {
                    margin-top: 5vh;
                }
            }
           
        }
    }

}

@media (max-width: 768px) {


    .clientes {
        h2 {
            width: 100%;
            text-align: center;
            margin: auto;
        }

        h3 {

            width: 100%;
            text-align: center;
            margin: auto;
        }

        .container {
           

            .sc-bcXHqe {
                box-shadow: none;
                background-color: transparent;
                border: none;
            }
            .box {
                height: 52vh;

                .text {
                    h3 {
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
    

                .box-inferior {
                    margin-top: 5vh;
                }
            }
        }
    }

}

@media (max-width: 550px) {

    .clientes {
        width: 100%;
        height: 50vh;


        .container {
            width: 100%;
            height: 50vh;
            margin-top: 5vh;

            .box {
                height: 45vh;

                .text {
                    h3 {
                        font-size: 18px;
                        line-height: 27px;
                    }
                }

                .box-inferior {
                    margin-top: 3vh;

                    .imagem {

                        img {
                            width: 80%;
                            height: 50%;
                        }
                    }
                }
            }

        }
    }


}


@media (max-width: 400px) {

    .clientes {
        height: 60vh;


        .container {
            height: 60vh;

            .box {
                height: 48vh;

                .box-inferior {
                    margin-top: 7vh;

                    .imagem {

                        img {}
                    }
                }
            }

        }
    }
}

@media (max-width: 375px) {

    .clientes {
        height: 75vh;


        .container {
            height: 70vh;

            .box {
                height: 65vh;

                .box-inferior {
                    margin-top: 7vh;

                    .imagem {

                        img {}
                    }
                }
            }

        }
    }
}