@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500;600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.clientes {

    width: 100%;
    height: 60vh;
    margin-top: 10vh;

    h2 {

        width: 470px;
        height: 36px;
        margin-left: 15vh;
        top: 2803.7px;

        /* H1-32 */

        font-family: 'Lilita One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 110% */

        text-transform: uppercase;

        /* Título */

        color: rgba(29, 6, 5, 0.9);

    }
    h3 {
        width: 470px;
        height: 23px;
        margin-left: 21vh;
        top: 2843.7px;

        /* T-16 */

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 140% */


        /* Texto */

        color: rgba(29, 6, 5, 0.69);
    }

    .container {
        width: 80%;
        height: 40vh;
        margin: auto;
        margin-top: 2%;

        .box {
            width: 95%;
            height: 30vh;
            margin-left: 0vh;
            top: 2882.7px;

            background: #FFFFFF;
            box-shadow: 0px 4px 25px rgba(60, 35, 13, 0.1);
            border-radius: 10px;
            cursor: pointer;

            h2 {
                position: absolute;
                font-size: 85px;
                margin-top: 0vh;
                margin-left: 2vh;
                font-family: 'Catamaran';
            }

            .text {
                width: 90%;
                margin: auto;
                margin-top: 15%;
                
                h3 {
                    width: 100%;
                    height: 90px;
                    margin-left: 0px;
                    top: 2895.1px;
                    
                    /* T-16 */
                    
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    /* or 140% */
                    
                    
                    /* $title-black-60 */
                    
                    color: #635352;
                }
            }
         
            .imagem {
                width: 70px;
                height: 70px;
                margin-left: 5vh;
                margin-top: 3vh;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }

               
            }
            h4 {
                position: absolute;
                width: 114px;
                height: 26px;
                margin-left: 15vh;
                margin-top: -5vh;

                /* H4-18 */

                font-family: 'Lilita One';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                /* identical to box height, or 140% */

                text-transform: uppercase;

                /* Título */

                color: rgba(29, 6, 5, 0.973);
            }
        }
    }
}

@media (max-width: 1440px) {


    .clientes {

        .container {
         
            .box {
                height: auto;
                .text {

                    margin-top: 7vh;
                   
                }
                .imagem {
                    width: 70px;
                    height: 70px;
                    margin-top: 5vh;
                    margin-bottom: 2vh;
                    margin-left: 10%;
                }
                
            }
        }
    }
    
}

@media (max-width: 550px) {

    .clientes {
        height: auto;
        h2 {
            margin-left: 20%;
        }

        .container {            
            height: auto;
            .box {
                width: 95%;
                height: auto;

                .text {
                    margin-top: 10vh;

                    h3 {

                        font-size: 16px;
                    }
                }
                .imagem {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 5vh;
                }
            }
        }
    }
    
    
}